In [2]:
#indexing in pandas means simply selecting particular rows and column of data from a dataframe
#Indexing could mean selecting all the rows and some of the columns
#some of the rows and all of the columns, or some of each of the rows and columns

In [5]:
# selecting a single column
import pandas as pd
data=pd.read_csv('nba.csv',index_col='Name')
first=data['Age']
print(first)

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
                 ...
Shelvin Mack     26.0
Raul Neto        24.0
Tibor Pleiss     26.0
Jeff Withey      26.0
NaN               NaN
Name: Age, Length: 458, dtype: float64

In [10]:
# selecting a single column
import pandas as pd
data=pd.read_csv('nba.csv',index_col="Name")
first=data[["Age","College", "Salary"]]
print(first)

                Age            College     Salary
Name
Avery Bradley  25.0              Texas  7730337.0
Jae Crowder    25.0          Marquette  6796117.0
John Holland   27.0  Boston University        NaN
R.J. Hunter    22.0      Georgia State  1148640.0
Jonas Jerebko  29.0                NaN  5000000.0
...             ...                ...        ...
Shelvin Mack   26.0             Butler  2433333.0
Raul Neto      24.0                NaN   900000.0
Tibor Pleiss   26.0                NaN  2900000.0
Jeff Withey    26.0             Kansas   947276.0
NaN             NaN                NaN        NaN

[458 rows x 3 columns]

In [12]:
import pandas as pd
data=pd.read_csv('nba.csv',index_col="Name")
first=data.loc['Avery Bradley']
second=data.loc['R.J. Hunter']
print(first,"\n\n\n",second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [ ]:
import pandas as pd

In [13]:
data = pd.read_csv("nba.csv",index_col="Name")
firs=data.loc[['Avery Bradley','R.J. Hunter']]

In [14]:
print(first)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object